{:index-images
 [
  "img/webnew4.jpg"
  "img/webnew1.jpg"
  "img/webnew2.jpg"
  "img/webnew3.jpg"
  "img/webnew5.jpg"
  "img/webnew6.jpg"
  "img/web21.jpg"
  "img/web17.jpg"
  "img/web4.jpg"
  "img/web5.jpg"
  "img/web19.jpg"
  "img/web6.jpg"
  "img/web11.jpg"
  "img/web10.jpg"
  "img/web7.jpg"
  "img/web8.jpg"
  "img/web12.jpg"
  "img/web13.jpg"
  "img/web15.jpg"
  "img/web18.jpg"
  ]

 :nav
 [
  {:url "http://fernfiber.etsy.com/" :text "SHOP" :target "_blank" :attributes {:style "font-weight: bold"}}
  {:url "http://etsy.com/shop/FernFiber/about/" :target "_blank" :text "About Us"}
  {:url "our-yarns.html" :text "Our Yarns"}
  {:url "faq.html" :text "FAQ"}
  {:url "designs.html" :text "Designs"}
  {:url "https://facebook.com/pages/Fern-Fiber/747498242023694" :target "_blank" :text "On Facebook"}
  {:url "http://instagram.com/fernfiber/" :target "_blank" :text "On Instagram"}
  {:url "http://pinterest.com/fernfiber/" :target "_blank" :text "On Pinterest"}
  {:url "mailto:info@fernfiber.com" :text "Contact"}
  ]

 :sharing
 [
  {:name "facebook"
   :url "http://www.facebook.com/sharer.php?u=http://fernfiber.com"
   :title "Share on Facebook"}
  {:name "twitter"
   :url "http://twitter.com/share?url=http://fernfiber.com"
   :title "Share on Twitter"}
  {:name "googleplus"
   :url "https://plus.google.com/share?url=http://fernfiber.com"
   :title "Share on Google Plus"}
  {:name "pinterest"
   :url "http://pinterest.com/pin/create/button/?url=http://fernfiber.com&media=http://fernfiber.com/img/web13.jpg&description=Fern%20Fiber:%20naturally%20died%20yarns"
   :title "Share on Pinterest"}
  {:name "email"
   :url "mailto:?Subject=Fern%20Fiber&Body=http://fernfiber.com"
   :title "Share by Email"}
  ]

 :yarns
 [
  {:name "Sky"
   :weight "Fingering Weight"
   :description "Imagine a meadow mountaintop where the Earth meets the sky.  There is a beautiful place in our mountains called Max Patch.  An incredible meadow, expanding in earth and sky as far as the eye can see.  It has a magnificent 360-degree view of the Blue Ridge Mountains in every direction.  The meadow is full of medicinal wildflowers and grasses waving in the wind like ocean waves.  It is truly a magical experience invoking solitude, explorations and dreaming.  Our Sky base is lustrous and velvety."
   :blend "50/50 blend of Merino/Silk"
   :volume "438 yards/100 g"
   :needle "US #1 - 3/2.25 - 3.25 mm"
   :gauge "28 - 32 sts/4\""}

  {:name "Seven Sisters"
   :weight "Fingering Weight"
   :description "The Seven Sisters are a series of mountains found in the Blue Ridge Mountains close to our homes.  Their seven forested peaks ascend south of their father mountain, know as Graybeard.   We like to think of the full moon coming up over the Seven Sisters as their mountain tops reach for the stars.  In the cosmos they are known as a cluster of magical blue stars, The Pleiades, which glitter and shimmer brightly forming a portal into another world. Our Seven Sisters base is gorgeously soft with a luminous halo and a beautiful drape."
   :blend  "50/25/25 blend of Alpaca/Silk/Linen "
   :volume "438 yards/100 g"
   :needle "US #1 - 3/2.25 - 3.25 mm"
   :gauge "28 - 32 sts/4”"}

  {:name "Mountain Lights"
   :weight "DK Weight"
   :description "Lying low in the Blue Ridge Mountains, the Brown Mountain Lights have intrigued visitors for hundreds of years.  During the dark hours of the night, looking across at Brown Mountain, you may have the opportunity to see lights off in the distance, sometimes so many of them you will lose count.  A drifting light here, a bright flashing then slowly fading light over there, the lights never seem to stay the same in intensity, location, or color.   Many myths and legends surround these mysterious lights dating back to the 13th century and no scientific theories have yet been proven as to why or how they exist. Named after these mysterious Brown Mountain Lights, our Mountain Lights sparkle base is magical, wondrous, and playful."
   :blend  "75/20/5 blend of Merino/Silk/Stellina"
   :volume "231 yards/100 g"
   :needle "US #6 - 7/4 - 4.5 mm"
   :gauge "21 - 24 sts/4\""}

  {:name "Roan"
   :weight "Hefty DK Weight"
   :description "Roan Mountain ridge is a vision of color in the late spring when long stretches of grassy balds and magnificent rhododendron flower gardens cover the mountain sides.  It is a glorious place for hiking with friends and family picnics.   Our Roan base is comfy and squishy."
   :blend  "100% US grown Merino"
   :volume "260 yards/100 g"
   :needle "US #6 - 7/3.75 - 4 mm"
   :gauge "21 - 24 sts/4\""}

  {:name "Balsam"
   :weight "Worsted Weight"
   :description "Full of magic and medicine, the Black Balsam area abounds with flower filled meadows, playful swimming holes and waterfalls, emerald Spruce/Fir woods, and wide open expanses.  Black Balsam holds a special place in our hearts.  Our Balsam base is a lofty and soft. "
   :blend  "100% Merino"
   :volume "218 yards/100 g"
   :needle "US #7 - 9/4.5 - 5.5 mm"
   :gauge "16-20 sts/4\""}

  ]

 :faqs
 [
  ["Who are we?"
   "We are Nikki Solomon and Maria Muscarella, two Work At Home Mountain Mamas.  We met through our love of plants many years ago. Our lives continued on similar paths through our families, our love of nature, the desire to roll around in soft fleeces, knitting, and spinning!"]

  ["Are your yarns really made of ferns?"
   "No. Though ferns make wonderful dye plants, our yarns are traditional wool, alpaca, and other animal fibers."]

  ["Where does your Local yarn come from?"
   "Our <a href=\"our-yarns.html\">Local line</a> of yarn comes from our farmer friends living near us in the mountains of NC.  We’ve been to their farms and gotten to know them as well as their sheep and alpaca.  We see first hand how lovingly and ethically they treat their wooly friends.  We attend the shearings and select the perfect, luscious fleeces to create Fern Fiber’s yarn.  Then we hand deliver these fleeces to our local mill to be spun."]

  ["Where do your dyes come from?"
   "Many of our plant dyes are hand gathered from our gardens and the forests surrounding our homes.  Since it takes more raw plant material (versus extracts) to dye yarn, we often save these hand harvested dyes for our local yarns.  We also use dried plant material and extracts that we purchase from fabulous natural dyeing businesses."]

  ["What is a mordant? Do you mordant your yarns?"
   "Mordants are substances that assist dyes in bonding with the yarn.  Some plant dyes do not require mordanting.  They have the chemicals within them to mordant themselves in the dyeing process.  If a dye does need a mordant, we use such things as oak galls, alum, occasionally iron, and rarely copper."]

  ["Why are my hands turning blue when I knit with indigo dyed yarn?"
   "Ah, lovely indigo.  It has such an ancient and amazing history, and it is the only plant that we dye using fermented vats.  Most natural dyes form a chemical bond with the fiber, assisted by mordants that we may use.  Indigo, however, forms a physical bond and, due to the oils in your skin and the physical friction created when knitting, some of the indigo is likely to rub off on your hands.  This is called “crocking” and is a fun part of the process when knitting with indigo.  But, do not worry, once your garment is knitted and washed, most of the crocking will have taken place and you will be free to wear you lovely items without looking like a Smurf."]

  ["Do you offer Yarn Support to designers?"
   "We really LOVE seeing our yarn worked into new designs!!  We are a very small business and can only offer limited yarn support, but we would love to hear your ideas.  Please <a href=\"mailto:info@fernfiber.com\">contact us</a> if you are wanting to use Fern Fiber in your knitwear designs."]

  ["Do you offer wholesale?"
   "We are occasionally able to offer wholesale. Please <a href=\"mailto:info@fernfiber.com\">contact us</a> for more information."]
  ]

 :designs
 [{:name "Sacred Geometry"
   :designer "Maria Muscarella"
   :description "An asymmetrical, fractal design with lace-work leaves, based on the Tree of Life."
   :url "http://www.ravelry.com/patterns/library/sacred-geometry"
   :img "sacredgeometry.jpg"}
  
  {:name "Serafine"
   :designer "Camille Rosselle"
   :description "A cozy top down pullover inspired by a painting of the wheat harvest. Published in <a href='https://www.pompommag.com/product/issue-18-autumn-2016-print-digital/'>Pom Pom Quarterly Issue 18, Autumn 2016</a>."
   :url "http://www.ravelry.com/patterns/library/serafine-2"
   :img "serafine.jpg"}

  {:name  "Sizzle Pop"
   :designer  "Lesley Ann Robinson"
   :description "Satisfy your brioche cravings with Sizzle Pop. Two shawl patterns in one, both with an all-over chevron lace detail, knit using the two-color brioche stitch!"
   :url "http://www.ravelry.com/patterns/library/sizzle-pop"
   :img "sizzlepop.jpg"}

  {:name  "Forage"
   :designer  "Chelsea Berkompas"
   :description "Forage is an asymmetrical shawl with lace, garter stitch, and a fluttering picot edging. Simple enough to allow enjoyment of your yarn but sophisticated enough to keep your interest."
   :url "http://www.ravelry.com/patterns/library/forage-5"
   :img "forage.jpg"}

  {:name  "Farm Slippers"
   :designer  "Andrea Mowry"
   :description "Comfy mukluk style slippers with sizes for the whole family.  Perfect to keep your feet warm and cozy."
   :url "http://www.ravelry.com/patterns/library/farm-slippers"
   :img "farmslippers.jpg"}

  {:name  "Drekin"
   :designer  "Maria Muscarella"
   :description "An elegant Faroese style shawl knit from the top down. It is knit in garter stitch and contains a brioche center panel making it reversible. The wings have shoulder shaping, and a lace pattern reminiscent of scales/feathers."
   :url "http://www.ravelry.com/patterns/library/drekin"
   :img "drekin.jpg"}

  {:name  "Spark Shawl"
   :designer  "Maria Muscarella"
   :description "A quick and easy shawl knit highlighted with delicate stars and a colorful contrast border."
   :url "http://www.ravelry.com/patterns/library/spark-shawl"
   :img "sparkshawl.jpg"}

  {:name  "Polka Dance"
   :designer  "Maria Muscarella "
   :description "A fun, fast knit cowl that incorporates seed stitch and color changes to create an eye-catching, textured cowl."
   :url "http://www.ravelry.com/patterns/library/polka-dance"
   :img "polkadance6.jpg"}

  {:name  "Rocky Broad Mitts"
   :designer  "Elizabeth Helmich"
   :description "Bold cabled patterns that go fast and keep your interest throughout. Functional buttons keep the cuff closed once you put the mitts on."
   :url "http://www.ravelry.com/patterns/library/rocky-broad-mitts"
   :img "rocky_broad_mitts_.jpg"}

  {:name  "Rosemary Mitts"
   :designer  "Annie Rowden"
   :description "Simple, striped fingerless mitts with tons of character. They knit up quick and are so comfy to wear. And with five sizes to choose from every member of the family is covered! "
   :url "http://www.ravelry.com/patterns/library/rosemary-mitts-2"
   :img "rosemarymitts.jpg"}

  {:name  "Phluffle"
   :designer  "Maria Muscarella"
   :description "Phluffle is a warm and squishy cowl that knits up wonderfully with your favorite chunky hand spun or art yarn. Fun to knit and simple enough to show off your fabulous yarn."
   :url "http://www.ravelry.com/patterns/library/phluffle"
   :img "phluffle8.jpg"}

  {:name "Sulka Mitts"
   :designer "Caitlin Hunter"
   :description "These rustic, homespun mitts are perfect accessory for chilly mornings at the campfire. The feather design is based on a stitch pattern found on one of the oldest pieces of <a href='http://sheepandstitch.com/the-history-of-knitting-part-1-mysterious-origins'>nalbinding</a> (an early predecessor of knitting) ever found. Imagine women of an ancient era creating the same stitch as you knit these gloves, and feel the thread of history binding us together."
   :url "http://www.ravelry.com/patterns/library/sulka-mitts"
   :img "sulkamitts.jpg"}

  
  
  ]}



